<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href=" /css/about.css">
</head>
<body>
    <div class="container">
      <div class="text">
        <p style="font-size: 50px; color: white"> <b> ABOUT US </b> </p> <br> 
        <p style="font-size: 16px; color: white;"> IndusAid is a company that provides one-stop industrial solutions for every company in need. We are based in India and we have a global clientele. We offer a wide range of services, from consultation to product development and manufacturing. Our goal is to help startups succeed by providing them with the tools and resources they need to grow and also extablished companies to improve their already existing modern technology. The only thing a user needs to know is the problem because everything else will be taken care of by the website. It not only builds intra-company but also inter-company ecosystem. We were founded in 2023 by a team of tech-efficient engineering students. We're dedicated to providing you the best of Consultancy, with a focus on dependability and Industry advice. We're working to turn our passion for Consultancy into a booming online website. We hope you enjoy our Consultancy as much as we enjoy offering them to you. 
        </p>
  
      </div>
      <div class="main">
        <div class="card">
            <div class="content">
              <p> <span style="font-size: 53px; color: #ffca42;"> <b> 364 </b> </span> <br> <span style="font-size: 20px; color: white;"> users have connected with us </span> </p>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <p> <span style="font-size: 53px;color: #ffca42;"> <b> 208 </b>  </span> <br> <span style="font-size: 20px;color: white;"> companies have joined us  </span> </p>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <p> <span style="font-size: 53px; color: #ffca42;"> <b> 326 </b> </span> <br> <span style="font-size: 20px; color: white;"> consultancies have been booked </span> </p>
            </div>
        </div>
    </div>
    <div class="img">
      <div class="boys">
        <img src="" alt="">
      </div>

    </div>
  
</body>
</html>

