<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Industry 4.0</title>
    <link rel="stylesheet" href="/css/styles.css">

    <!-- swiper css -->
    <link rel="stylesheet" href="css/swiper-bundle.min.css">

    <!-- boxicon CSS -->
    <!-- <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'> -->

    <!-- font awesom icons css -->
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

    <!-- jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <section class="header">
        <div class="logo">
            <img src="images/logo1.jpg" alt="">
            <p>Indus<span style="color: #ffc451;">Aid</span></p>
        </div>
        <div class="nav-menu">
            <a class="active" href="/index">Home</a>
            <a href="/about">About</a>
            <a href="/contact">Contact Us</a>
        </div>
        <div class="mobile-nav"> 
            <i class="mobile-menu fa-solid fa-bars "></i>
        </div>
        <div class="register">
            <a href="/login" class="btn" style="background-color: #ffc451;">Login</a>
             <a href="/signup" class="btn" style="background-color: #ffc451;">signup</a>
        </div>
    </section class="header">

    <Section class="hero">
        <span></span>
        <div class="wrapper four">
            <div class="type">
                <h3 class="typing" style="color: white; font-size: 30px;">We’re <span
                        style="color:#ffc451">Strategic</span> | We’re <span style="color:#ffc451">Creative</span> |
                    We're <span style="color:#ffc451">Solution-driven</span>
                </h3>
            </div>
        </div>
        <br>
        <a href="/book" class="btn" style="font-size: 15px; width: 300px ;">START YOUR FREE TRIAL</a>
    </Section>

    <section class="review">
        <div class="testimonial mySwiper">
            <div class="testi-content swiper-wrapper">
                <div class="slide swiper-slide">
                    <img src="/images/testimonials-1.jpg" alt="" class="image">
                    <div class="details">
                        <span class="name">Saul Goodman</span>
                        <span class="job">CEO and Founder</span>
                    </div>
                    <br>
                    <p><i class='bx bxs-quote-alt-left quote-icon'></i>The website is very user friendly. Any age group
                        can easily use it without any extra guidance.
                        <i class='bx bxs-quote-alt-right quote-icon'></i>
                    </p>
                </div>
                <div class="slide swiper-slide">
                    <img src="/images/testimonials-2.jpg" alt="" class="image">
                    <div class="details">
                        <span class="name">Sara Willson</span>
                        <span class="job">Designer</span>
                    </div>
                    <br>
                    <p><i class='bx bxs-quote-alt-left quote-icon'></i>This is definitely a boon for start-ups. Kudos to the makers.
                        <i class='bx bxs-quote-alt-right quote-icon'></i>
                    </p>
                </div>
                <div class="slide swiper-slide">
                    <img src="/images/testimonials-3.jpg" alt="" class="image">
                    <div class="details">
                        <span class="name">Jena Karlis</span>
                        <span class="job">Store Owner</span>
                    </div>
                    <br>
                    <p><i class='bx bxs-quote-alt-left quote-icon'></i>There is so much information about every industry that I didn't even have to read related articles to find out established companies I can tie-up with. Very handy. 
                        <i
                            class='bx bxs-quote-alt-right quote-icon'></i></p>
                </div>
                <div class="slide swiper-slide">
                    <img src="/images/testimonials-4.jpg" alt="" class="image">
                    <div class="details">
                        <span class="name">Matt Brandon</span>
                        <span class="job">Frelancer</span>
                    </div>
                    <br>
                    <p><i class='bx bxs-quote-alt-left quote-icon'></i>My company’s vehicle sales doubled by using UVO technology that was implemented by Kia Motors India. Will be definitely using this website for more of my company's problems.                       
                        <i class='bx bxs-quote-alt-right quote-icon'></i></p>
                </div>
                <div class="slide swiper-slide">
                    <img src="/images/testimonials-5.jpg" alt="" class="image">
                    <div class="details">
                        <span class="name">John Larson</span>
                        <span class="job">Enterpreneur</span>
                    </div>
                    <br>
                    <p><i class='bx bxs-quote-alt-left quote-icon'></i>The website lives up to its tagline and its name because it definitely provided the aid to my problems.<i
                            class='bx bxs-quote-alt-right quote-icon'></i></p>
                </div>
            </div>
            <div class="swiper-button-next nav-btn"></div>
            <div class="swiper-button-prev nav-btn"></div>
            <div class="swiper-pagination "></div>
        </div>
    </section>

    <footer id="footer">
        <div class="footer-top">
            <div class="footer-container">
                <div class="col-lg-3 mobile">
                    <div class="footer-info">
                        <h3>IndusAid</h3>
                        <p> A108 Adam Street <br> NY 535022, USA<br><br> <strong>Phone:</strong> 0123456789<br>
                            <strong>Email:</strong> industry@gmail.com
                        </p>
                        <div class="social-links mt-3">
                            <a href="#" class="twitter"><i class="fa-brands fa-twitter"></i></a>
                            <a href="#" class="facebook"><i class="fa-brands fa-facebook-f"></i></a>
                            <a href="#" class="instagram"><i class="fa-brands fa-instagram"></i></a>
                            <a href="#" class="linkedin"><i class="fa-brands fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 mobile footer-links">
                    <h3>Useful Links</h3>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Terms of service</a></li>
                        <li><a href="#">Privacy policy</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 mobile footer-links">
                    <h3>Our Services</h3>
                    <ul>
                        <li><a href="#">Consultation</a></li>
                        <li><a href="#">Tie up</a></li>
                        <li><a href="#">Visit</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 mobile footer-newsletter">
                    <h3>Our Newsletter</h3>
                    <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
                    <form action="" method="post"> <input type="email" name="email"><input type="submit"
                            value="Subscribe"></form>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="copyright"> &copy; Copyright <strong><span>IndusAid</span></strong>. All Rights Reserved</div>
            <!-- <div class="credits"> Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a></div> -->
        </div>
    </footer>

    <!-- toTop button -->
    <a href="#" class="to-top">
        <i class="fa-sharp fa-solid fa-angle-up"></i>
    </a>

    <!-- swiper js -->
    <script src="/js/swiper-bundle.min.js"></script>

    <!-- javascript -->
    <script src="/js/script.js"></script>
</body>

</html>