<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LOGIN</title>
    <link rel="stylesheet" href="/css/login.css" />
  </head>
  <body>
    <div class="container">
      <div class="login__content">

        <form action="/login" method="post" class="login__form">
          <div>
            <h1 class="login__title">
              <span>Welcome</span>
              Back!
            </h1>
            <p class="login__description">
              | Welcome! Please login to continue.
            </p>
          </div>

          <div>
            <div class="login__inputs">
              <div>
                <label for="" class="login__label">Username</label>
                <input
                  type="text"
                  placeholder="Enter your username"
                  name="username"
                  required
                  class="login__input"
                />
              </div>

              <div>
                <label for="" class="login__label email">Email</label>
                <input
                  type="email"
                  placeholder="Enter your email address"
                  name="email"
                  required
                  class="login__input"
                />
              </div>

              <div>
                <label for="" class="login__label password">Password</label>

                <div class="login__box">
                  <input
                    type="password"
                    placeholder="Enter your password"
                    required
                    class="login__input"
                    id="input-pass"
                    name="password"
                  />
                  <i class="ri-eye-off-line login__eye" id="input-icon"></i>
                </div>
              </div>

              <div>
                <label>
                  <input type="radio" name="color" value="blue" required />
                  Are you an investor whose here to gain profits
                </label>
              </div>

              <div>
                <label>
                  <input type="radio" name="color" value="red" required />
                  Are you a growing startup with just a tinge of problem
                </label>
              </div>
            </div>

            <div class="login__check">
              <input type="checkbox" class="login__check-input" />
              <label for="" class="login__check-label">Remember me</label>
            </div>
          </div>

          <div>
            {{! <div class="login__buttons">
                        <button class="login__button" onclick="auth()" value="login">Log In</button>
                    </div> }}
            <input type="submit" placeholder="Login" class="login__button" />
            <a href="#" class="login__forgot">Forgot Password?</a>
          </div>
        </form>
      </div>
    </div>
    <script src="login.js"></script>
  </body>
</html>